<h1>Articles tagged with <%= @tag.name %></h1>

<p>
  <ul>
    <% @tag.articles.each do |article| %>
    <li>
      <%= link_to article.title, article %>
    </li>
    <% end %>
  </ul>
</p>
<br>
<p>
  <%= link_to "Tags", tags_path %>
  | 
  <%= link_to "Home", root_path %>
</p>